$primary-color: #3333;
$secondary-color: #767676;
$highlight-color: #f85941;
$highlight-color-hover: #cc4836;
$bg-color: #fff;
$transition: all 0.1s ease;

$table-bg: #f9f5f9;

$modal-color: #464547;
$star-color: #ecec02;

$info-color: #85b8d3;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

$main-font: "Roboto", sans-serif;
$logo-h1: "Times New Roman", Times, serif;

$basic-margin: 50px;
