.favorites {
  max-width: 1120px;
  margin: auto;
  &__title {
    margin-bottom: 40px;
  }

  &__row {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__arrow {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;

    color: $secondary-color;
    opacity: 0.7;
    font-size: 100px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    margin: auto 12px;
    float: left;

    &:hover {
      color: black;
      opacity: 1;
    }
  }
  &__arrow--next {
    float: right;
    margin-right: 0;
    margin-left: 12px;
  }

  &__list {
    overflow: hidden;

    list-style: none;
    padding: 0 10px;

    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: flex-start;
    text-align: center;

    @media (max-width: 1100px) {
      overflow-x: auto;
      justify-content: flex-start;
      gap: 16px;
    }
  }

  &__item {
    flex: 0 0 auto;
    width: calc((100% - 80px) / 5); // 5 ел gap 20px
    max-width: 100%;

    .teacher-card {
      &.teacher-card--favorite::after {
        right: -5px;
      }
    }

    @media (max-width: 900px) {
      width: calc((100% - 60px) / 4); // 4 ел gap 20px
    }

    @media (max-width: 768px) {
      width: calc((100% - 40px) / 3);
    }

    @media (max-width: 600px) {
      width: calc((100% - 40px) / 2);
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
